:root {
    --azul-primario: #008eb0;
    --azul-oscuro: #005f75;
    --blanco: #ffffff;
    --gris-fondo: #f4f9fc;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gris-fondo);
    margin: 0;
    color: #333;
}

header {
    background-color: var(--azul-primario);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    border-bottom: 5px solid var(--azul-oscuro);
}

.info-tienda p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.filtros-container {
    padding: 20px;
    text-align: center;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#buscador {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 2px solid var(--azul-primario);
    border-radius: 20px;
    margin-bottom: 15px;
}

.categorias button {
    background: white;
    border: 1px solid var(--azul-primario);
    color: var(--azul-primario);
    padding: 8px 15px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.categorias button.activo, .categorias button:hover {
    background: var(--azul-primario);
    color: white;
}

/* Diseño de la Cuadrícula */
.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

/* Tarjeta de Producto */
.producto-card {
    background: var(--azul-primario);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.2s;
    border: 1px solid #eee;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.precio-tag {
    background: var(--azul-primario);
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.producto-info {
    padding: 10px;
    padding-bottom: 0;
    flex-grow: 1;
    color: white
}

.producto-info h3 {
    margin: 0 0 10px 0;
    font-size: 1rem;
}

.marca {
    color: white;
    font-size: 0.85rem;
    text-transform: uppercase;
}
/*Imagen dentro de la card */
.imagen-contenedor {
    width: 100%;
    height: 180px; /* Altura fija para que todas las cards midan lo mismo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.imagen-contenedor img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Esto evita que la imagen se estire feo */
}